.hasab 
{

}

footer 
{


}

p
{

}
.hasab
{
    background-color: grey;
    
}
body
{
    background-color: #d2691e;
    width: 960px;
    vertical-align: middle;
}
h1
{
    text-decoration: underline;
    text-decoration-color: #a52a2a;
}
ul
{
    width: 50px;
    
}