body
{
    background-color: rgb(82, 11, 212);
    color: rgb(247, 247, 247);
    
    background-position: 10%;
    
    
}
main.elso
{
    text-align: left;
    
    text-transform: capitalize;
}

#main
{
    text-align: center;
}
main.masodik
{
    
}