#asztal img
{
    border: 1px solid red;
    height: 200px;
    
}
#asztal .kartya
{
    border: 1px solid red;
    height: 200px;
    width: 200px;
    background-size: cover;
    display: inline-block;
    margin: 10px;
}

