table,td
{
    
    border: 2px solid darkblue;

}
body
{
    background-color: rgb(46, 202, 15);
}
table
{
    margin: auto;
    border-collapse: collapse;
}
tr:nth-child(odd)
{
    background-color: brown;
}
tr:nth-child(6)
{
    font-size: x-large;
}
tr:nth-child(10)
{
    border : 10px solid rgb(47, 0, 255);
}
tr:nth-child(n+6)
{
    font-family: Verdana;
}
tr:hover:nth-child(odd)
{
    background-color: white;
}
tr:hover:nth-child(even)
{
    background-color: rgb(126, 12, 12);
}